<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type"><title>%CATEGORY%</title></head>
<body>
<div style="text-align: center; font-family: Helvetica,Arial,sans-serif;">
<table style="width: 100px; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td style="text-align: center; vertical-align: middle;"><img alt="" src="../icons/general/icon-%CATEGORY%.png"></td>
<td style="text-align: center; vertical-align: middle;"><img alt="" src="../icons/general/genre-%CATEGORY%.png"></td>
</tr>
</tbody>
</table>
<br>
</div>
<table style="text-align: left; width: 100%; background-color: rgb(245, 245, 245); font-family: Helvetica,Arial,sans-serif;" border="0" cellpadding="2" cellspacing="2">
<tbody>
%BODY%
</tbody>
</table>
<br style="font-family: Helvetica,Arial,sans-serif;">
</body></html>
