<table style="text-align: left; width: 100%; background-color: rgb(245, 245, 245); font-family: Helvetica,Arial,sans-serif;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td style="height: 100px; width: 100px; text-align: center; vertical-align: middle;"><img alt="" src="../icons/programs/%NAME%.png"></td>
<td><big><span style="font-weight: bold;">%CAPNAME%</span><br><br>%DESCRIPTION%</big></td>
<td style="text-align: center; vertical-align: middle; width: 100px;"><a href="%NAME%.html"><img style="border: 0px solid ; width: 75px; height: 75px;" alt="more information" title="more information" src="../icons/general/more.png"></a></td>
<td style="width: 100px; text-align: center; vertical-align: middle;"><a href="../programs/%NAME%/setup.exe"><img style="border: 0px solid ; width: 75px; height: 75px;" alt="install" title="install" src="../icons/general/install.png"></a></td>
</tr>
</tbody>
</table>
<br>
