<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type"><title>Chantra</title>

<script type="text/javascript" src="../incl/js/prototype.js"></script>
<script type="text/javascript" src="../incl/js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="../incl/js/lightbox.js"></script>
<link rel="stylesheet" href="../incl/css/lightbox.css" type="text/css" media="screen"></head>
<body>
<span style="font-family: Helvetica,Arial,sans-serif;"></span>
<table style="text-align: left; background-color: rgb(245, 245, 245); width: 100%;" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td colspan="1" rowspan="1" style="width: 100px; text-align: center;"><span style="font-family: Helvetica,Arial,sans-serif; font-weight: bold;"><big><big><big><big>มีอะไรใหม่</big></big></big></big></span><font style="font-family: Helvetica,Arial,sans-serif; color: rgb(102, 102, 102);" size="-2"><big></big></font></td>
</tr>
</tbody>
</table>
<br>
<big style="font-family: Helvetica,Arial,sans-serif;">
มีซอฟต์แวร์หลายตัวที่มีการปรับปรุงในเวอร์ชันนี้ ถ้าคุณเคยติดตั้ง โปรแกรมใน Chantra เวอร์ชันก่อน คุณอาจจะติดตั้งเวอร์ชันใหม่ ถ้าคุณต้องการความสามารถใหม่ๆ
<br><br>
<table style="text-align: left; background-color: rgb(245, 245, 245); font-family: Helvetica,Arial,sans-serif;" border="0" cellpadding="3" cellspacing="2">
<tbody>
<tr>
<td style="font-weight: bold; background-color: rgb(222, 222, 222); " width="200px"><big>ชื่อโปรแกรม</span></big></td>
<td style="font-weight: bold; background-color: rgb(222, 222, 222); "><big><span >เวอร์ชัน</span></big></td>
</tr>
</tbody>
%BODY%
</table>
</big>
<span style="font-family: Helvetica,Arial,sans-serif;"></span>
</body></html>
