/* Menu related selectors */

.jsdomenudiv { /* menu bar */
	background-color: white;
	background-image: url(office_xp_menu_left.png);
	background-position: top left;
	background-repeat: repeat-y;
	background-image: url(../backgrounds/silver.png);
	border: 1px ridge #FAFAFA;
	position: absolute;
	visibility: hidden;
	z-index: 10;
	cursor: pointer; 
}

.chantra-manual {
    margin-top: 160px;
	background: transparent;
	border: none;
	color: #000000;
	font-family: "Cordia New", sans-serif;
	font-size: 15pt;
	line-height: 24px;
	padding-left: 3px;
	padding-right: 49px;
	padding-top: 4px;
	padding-bottom: 5px;
	position: relative;
    color: white;
	cursor: pointer;
    text-decoration: none;
}
.chantra-manual:hover {
	background-color: #EDE36A;
    text-decoration: none;
    color: black;
}

#staticMenu {
    margin-top: 2px;
	background-color: transparent;
	background-image: none;
	border: 0px;
}

#staticMenu > .jsdomenuitemover { /* menu item when mouse over */
	background-color: #EDE36A;
    color: black;
}

.jsdomenuitem, .jsdomenuitemheader { /* menu item */
	background: transparent;
	border: none;
	color: #000000;
	font-family: "Cordia New", sans-serif;
	font-size: 15pt;
	line-height: 24px;
	padding-left: 40px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	position: relative;
	/*color: #606060;*/
    color: white;
	cursor: pointer; 
}

.jsdomenuitemheader
{
    color: white;
    font-size: 16pt;
    font-weight: bolder;
}

.jsdomenuitemover { /* menu item when mouse over */
	background-color: #CFEA81;
	color: #000000;
	font-family: "Cordia New", sans-serif;
	font-size: 15pt;
	line-height: 24px;
	padding-left: 40px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	position: relative;
	cursor: pointer; 
}



.jsdomenuarrow {
	/*background-image: url(office_xp_arrow.png);*/
	background-repeat: no-repeat;
	height: 7px;
	position: absolute;
	right: 8px;
	width: 4px;
}

.jsdomenuarrowover {
	/*background-image: url(office_xp_arrow_o.png);*/
	background-repeat: no-repeat;
	height: 7px;
	position: absolute;
	right: 8px;
	width: 4px;
}

.jsdomenusep {
	padding-left: 28px;
}

.jsdomenusep hr {
}

/*
Menu bar related selectors
*/
.jsdomenubardiv {
	background-color: #ECE9D8;
/*	background-image: url(office_xp_divider.png);
	background-position: left;
	background-repeat: no-repeat;*/
	border: 1px outset;
	cursor: default;
	padding-bottom: 3px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 3px;
	position: absolute;
	visibility: visible;
	cursor: pointer;
}

.jsdomenubardragdiv {
	cursor: move;
	display: inline;
	font-family: "Cordia New", sans-serif;
	font-size: 15pt;
	padding-bottom: px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	position: relative;
	visibility: hidden;
	width: 9px;
	cursor: pointer;
}

.jsdomenubaritem {
	background-color: #EFEDDE;
	border: none;
	color: #000000;
	display: inline;
	font-family: "Cordia New", sans-serif;
	font-size: 15pt;
	padding-bottom: px;
	padding-left: 24px;
	padding-right: 10px;
	padding-top: 2px;
	position: relative;
	cursor: pointer; 
}

.jsdomenubaritemover {
	background-color: #C1D2EE;
	border: 1px solid #316AC5;
	color: #000000;
	display: inline;
	font-family: "Cordia New", sans-serif;
	font-size: 15pt;
	padding-bottom: 2px;
	padding-left: 23px;
	padding-right: 9px;
	padding-top: 2px;
	position: relative;
	cursor: pointer; 
}

.jsdomenubaritemclick {
	background-color: #EFEDDE;
	border: 1px solid #8A867A;
	color: #000000;
	display: inline;
	font-family: "Cordia New", sans-serif;
	font-size: 15pt;
	padding-bottom: 2px;
	padding-left: 23px;
	padding-right: 9px;
	padding-top: 2px;
	position: relative;
	cursor: pointer; 
}

.icon_manual {
	background-repeat: no-repeat;
	position: absolute;
	height: 32px;
	width: 32px;
	left: 3px;
}

.icon-manual {
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	left: 3px;
}
/*
menu icons
*/
.icon_navigate, .icon_office, .icon_internet, .icon_graphics, .icon_multimedia, .icon_utilities,.icon_webdevel, .icon_entertainment, .icon_education {
	background-repeat: no-repeat;
	position: absolute;
	height: 32px;
	width: 32px;
	left: 3px;
}

/*.icon_manual { background-image: url(../icons/manual.png); }*/
.icon_navigate { background-image: url(../icons/help_index.png); }
.icon_office { background-image: url(../icons/package_wordprocessing.png); }
.icon_internet { background-image: url(../icons/galeon.png); }
.icon_graphics { background-image: url(../icons/package_graphics.png); }
.icon_multimedia { background-image: url(../icons/package_multimedia.png); }
.icon_utilities { background-image: url(../icons/package_utilities.png); }
.icon_webdevel { background-image: url(../icons/webdevel.png); }
.icon_entertainment { background-image: url(../icons/package_games.png); }
.icon_education { background-image: url(../icons/education.png); }

.icon_home, .icon_star, .icon_legal, .icon_opensource, .icon_website, .icon_survey,
.icon_openoffice, .icon_dia, .icon_pdfcreator, .icon_freemind, .icon_ganttproject,
.icon_firefox, .icon_thunderbird, .icon_pidgin, .icon_bittorrent, 
.icon_blender, .icon_gimp, .icon_inkscape, .icon_openclipart,
.icon_vlc, .icon_audacity, .icon_infra, .icon_7zip, .icon_clamwin,
.icon_kompozer, .icon_filezilla, .icon_notepad2, .icon_putty, .icon_appserv, .icon_subversion, .icon_joomla, .icon_moodle, .icon_smf,
.icon_tuxracer, .icon_supertux, .icon_lbreakout2,
.icon_celestia, .icon_gcompris, .icon_tuxpaint, .icon_tuxtyping, .icon_tuxmath {
	background-repeat: no-repeat;
	position: absolute;
	height: 32px;
	width: 32px;
	left: 3px;
}

.icon_home { background-image: url(../icons/kfm_home.png); }
.icon_star { background-image: url(../icons/star.png); }
.icon_legal { background-image: url(../icons/attention.png); }
.icon_opensource { background-image: url(../icons/opensource.png); }
.icon_website { background-image: url(../icons/package_network.png); }
.icon_survey { background-image: url(../icons/survey.png); }

.icon_openoffice { background-image: url(../icons/ooo_gulls.png); }
.icon_dia { background-image: url(../icons/dia.png); }
.icon_pdfcreator { background-image: url(../icons/pdfcreator.png); }
.icon_freemind { background-image: url(../icons/freemind.png); }
.icon_ganttproject { background-image: url(../icons/ganttproject.png); }

.icon_firefox { background-image: url(../icons/firefox.png); }
.icon_thunderbird { background-image: url(../icons/thunderbird.png); }
.icon_pidgin { background-image: url(../icons/pidgin.png); }
.icon_bittorrent { background-image: url(../icons/bittorrent.png); }

.icon_blender { background-image: url(../icons/blender.png); }
.icon_gimp { background-image: url(../icons/gimp.png); }
.icon_inkscape { background-image: url(../icons/inkscape.png); }
.icon_openclipart { background-image: url(../icons/openclipart.png); }

.icon_vlc { background-image: url(../icons/vlc.png); }
.icon_audacity { background-image: url(../icons/audacity.png); }

.icon_infra { background-image: url(../icons/infra.png); }
.icon_7zip { background-image: url(../icons/7zip.png); }
.icon_clamwin { background-image: url(../icons/clamwin.png); }

.icon_kompozer { background-image: url(../icons/kompozer.png); }
.icon_filezilla { background-image: url(../icons/filezilla.png); }
.icon_notepad2 { background-image: url(../icons/notepad2.png); }
.icon_putty { background-image: url(../icons/putty.png); }
.icon_appserv { background-image: url(../icons/appserv.png); }
.icon_subversion { background-image: url(../icons/subversion.png); }
.icon_joomla { background-image: url(../icons/joomla.png); }
.icon_moodle { background-image: url(../icons/moodle.png); }
.icon_smf { background-image: url(../icons/smf.png); }

.icon_tuxracer { background-image: url(../icons/tuxracer.png); }
.icon_supertux { background-image: url(../icons/supertux.png); }
.icon_lbreakout2 { background-image: url(../icons/lbreakout2.png); }

.icon_celestia {  background-image: url(../icons/celestia.png); }
.icon_gcompris {  background-image: url(../icons/gcompris.png); }
.icon_tuxpaint {  background-image: url(../icons/tuxpaint.png); }
.icon_tuxtyping {  background-image: url(../icons/tuxtyping.png); }
.icon_tuxmath {  background-image: url(../icons/tuxmath.png); }
